@charset "UTF-8";

/**
 *
 * @authors CK-Joey (zhangjie.tk)
 * @date    2016-08-19 00:11:20
 * @version 1.0
 */

html {
    font-family: "Microsoft YaHei", Helvetica, STHeiTi, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html,body{
    -webkit-user-select: none;
    user-select: none;
}
*{
    box-sizing: border-box;
}
html,body,div,object,h1,h2,h3,h4,h5,h6,p,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,
thead,tr,th,td,canvas,footer,header,menu,nav,output,section,time,audio,video,progress {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: #e5e5e5;
}
a {
    text-decoration: none;
    -webkit-touch-callout: none;
    background-color: transparent
}
li {
    list-style: none
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video,span{
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}
small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    -webkit-touch-callout: none;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a,
button,
input,
optgroup,
select,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    line-height: normal
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}
