@charset "UTF-8";
/**
 * 添加地址页面样式
 * @authors CK-Joey (zhangjie.tk)
 * @date    2016-08-21 13:36:35
 * @version 1.0
 */
body{
    background: #fff;
}
.user_info_box{
    height: 200px;
    background: url('../../../images/bg.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    color: #fff;

    .user_photo{
        margin: 0 auto;
        overflow: hidden;

        img{
            width: 80px;
            height: 80px;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow:10px 10px 0 #000 inset;
        }
    }

}

.user_tool{
    ul{
        background: #fff;
        overflow: hidden;
    }

    li{
        padding: 10px;
        // width: 25%;
        width: 50%;
        float: left;
        box-sizing: border-box;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        a{
            color: #666;
            display: block;
            font-size: 14px;
            text-align: center;

            i{
                color: #a5a5a5;
                font-size: 18px;
                // display: block;
                vertical-align: middle;
                margin-bottom: 5px;
            }

            span{
                vertical-align: middle;
            }
        }
    }
}